<dialog open>
  <article>
    <form
      <%if(!edita) {%>hx-post="/api/contatos"<%} else {%>hx-put="/api/contatos/<%= contato.id %>"<%}%>
      hx-trigger="submit"
      hx-target="main"
      <% if(!edita) {%>enctype="multipart/form-data"<%}%>
    >
    <% if(!edita) {%>
      <label for="foto-perfil">
        Foto de perfil
        <input
          type="file"
          id="foto-perfil"
          name="foto-perfil"
          accept="image/*"
          placeholder="Selecione uma foto de perfil"
        />
      </label>
      <%}%>
      <div class="grid">
        <label for="primeiroNome">
          Primeiro Nome
          <input
            type="text"
            id="primeiroNome"
            name="primeiroNome"
            placeholder="Primeiro Nome"
            <% if(edita) {%> value="<%= contato.primeiroNome %>" <%}%>
            required
          />
        </label>
        <label for="ultimoNome">
          Último Nome
          <input
            type="text"
            id="ultimoNome"
            name="ultimoNome"
            placeholder="Último nome"
            <% if(edita) {%> value="<%= contato.ultimoNome %>" <%}%>
          />
        </label>
      </div>
      <label for="telefone">
        Telefone
        <input
          type="tel"
          id="telefone"
          name="telefone"
          placeholder="Telefone"
          <% if(edita) {%> value="<%= contato.telefone %>" <%}%>
          required
        />
      </label>
      <label for="email">
        E-mail
        <input type="email" id="email" name="email" placeholder="E-mail" 
        <% if(edita) {%> value="<%= contato.email %>" <%}%>
        />
      </label>
      <div class="grid">
        <label for="empresa">
          Empresa
          <input
            type="text"
            id="empresa"
            name="empresa"
            placeholder="Empresa"
            <% if(edita) {%> value="<%= contato.empresa %>" <%}%>
          />
        </label>
        <label for="arroba">
          @
          <input
            type="text"
            id="arroba"
            name="arroba"
            placeholder="Instagram"
            <% if(edita) {%> value="<%= contato.arroba %>" <%}%>
          />
        </label>
      </div>

      <div class="grid">
        <button hx-get="/contatos" hx-target="main" hx-trigger="click">
          Cancelar
        </button>
        <button type="submit"><% if(!edita) {%>Criar<%} else{%>Atualizar<%}%></button>
      </div>
    </form>
  </article>
</dialog>
