<%if (eventos.length !== 0) {%> <% for (evento of eventos) {%>
<article>
  <header>
    <nav>
      <ul>
        <li>
          <h3><%= evento.titulo %></h3>
        </li>
      </ul>
      <ul>
        <li>
          <a
            ><i
              class="fa fa-edit"
              _="on click call #dialog-cria-eventos.show() 
                 then set #form-eventos__input-id.value to <%= evento.id %>
                 then set #form-eventos__input-titulo.value to '<%= evento.titulo %>'
                 then set #form-eventos__input-descricao.value to '<%= evento.descricao %>'
                 then set #form-eventos__input-data.value to '<%= evento.data.getFullYear() %>-<%= evento.data.getMonth() + 1 %>-<%= evento.data.getDate() + 1%>' 
                 then set #form-eventos__input-hora.value to '<%= evento.hora %>'"
            ></i
          ></a>
        </li>
        <li>
          <a>
            <i
              class="fa fa-trash"
              hx-delete="<%= `/api/eventos/${evento.id}` %>"
              hx-confirm="Você está certo(a) disso?"
              hx-target="#eventos"
              hx-trigger="click"
              hx-swap="innerHTML"
            ></i
          ></a>
        </li>
      </ul>
    </nav>
  </header>
  <p><%= evento.descricao %></p>
  <footer>
    <%let d = evento.data.toString().split(' ')%>
    <p><%=`${d[0]} ${d[2]}/${d[1]}/${d[3]} às ${evento.hora}` %></p>
  </footer>
</article>
<% }} else { %>
<h2>Nenhum evento adicionado!</h2>
<% } %>
