<a>
  <i
    class="fa fa-plus-circle fa-2x"
    hx-get="/notas-add"
    hx-target="main"
    hx-swap="innerHTML"
    hx-trigger="click"
  ></i>
</a>

<%if (notas.length !== 0) {%> <% for (nota of notas) {%>
<article>
  <header>
    <div class="grid">
      <i class="fa fa-flag fa-2x" style=<%- `"color: ${nota.cor}"`%>></i>
      <h3><%= nota.titulo %></h3>
      <a
        ><i
          class="fa fa-edit"
          hx-get="<%= `/notas-edita/${nota.id}` %>"
          hx-target="main"
          hx-swap="innerHTML"
          hx-trigger="click"
        ></i
      ></a>
      <a>
          <i class="fa fa-trash" 
          hx-get="<%= `/notas-deleta/${nota.id}` %>"
          hx-target="#modal-container"
          hx-swap="innerHTML"
          hx-trigger="click"></i></a>
    </div>
  </header>
  <p><%= nota.descricao %></p>
</article>
<% }} else { %>
<h2>Nenhuma nota adicionada!</h2>
<% } %>


<!-- Modal -->
<div id="modal-container">
</div>

<script src="scripts/modal.js"></script>



