<% for(tarefa of listadeTarefas) {%>
<article>
  <div class="grid">
    <li><%= tarefa.descricao %></li>
    <input type="checkbox" name="tarefa_<%= tarefa.id %>" />
    <a>
      <i
        class="fa fa-edit"
        hx-target="#ul-tarefas"
        hx-swap="innerHTML"
        _="on click call #dialog-cria-tarefa.show() then set #input-id.value to <%- tarefa.id %> then set #input-descricao.value to 
        '<%= tarefa.descricao %>' then set #input-data.value to '<%= tarefa.dataLimite %>'"
      ></i
    ></a>
    <a>
      <i
        class="fa fa-trash"
        hx-delete="<%= `/api/tarefas/${tarefa.id}` %>"
        hx-confirm="Você está certo(a) disso?"
        hx-target="#ul-tarefas"
        hx-swap="innerHTML"
      ></i>
    </a>
  </div>
</article>
<%}%>
